*{box-sizing: border-box;}


#nav-bar{
  background-color: #0275D8;
  border-radius: 0px; 
}

.form-horizontal{
  margin-top: 15px;
  margin-bottom: 30px;
}

#brand{
  color: white;
  font-size: 32px;	
  font-family: 'Kaushan Script', cursive;
}

#tittle{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 38px;
}


label,#task{font-size: 28px;}
#task{line-height: 1;}

#btn-create-task{height: 72px;}
#icon-btn-task{font-size: 38px;}

/*
Para los radio buttons
.state-tasks{
  margin:15px auto;	
  text-align: center;
}*/